ErrorDocument 404 /
Options All -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rir/www
RewriteRule ^http(s?):/(.*) index.php?image=http$1://$2 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
